@media only screen and (max-width: 700px)
{
    body
    {
        font-size: 14px !important;
    }

    #content
    {
        padding: 0 !important;
    }

    #header h1
    {
        font-size: 30px !important;
    }

    .content-item h1
    {
        font-size: 25px !important;
    }

    .gallery-image-left, .gallery-image-right
    {
        float: none !important;
    }

    .icon
    {
        width: 25px !important;
    }

    .nav-item
    {
        margin-left: 10px !important;
    }
}

*
{
    box-sizing: border-box;
}

a
{
    color: #66D9EF;
    text-decoration: none;
}

a:hover
{
    color: #F92672;
}

body
{
    background: #272822;
    color: #EEEEEE;
    font-family: Monospace;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: 10px 0;
}

h1
{
    font-size: 35px;
}

html, #footer, #header
{
    background-color: #171714;
    color: #EEEEEE;
}

#content
{
    margin: 75px 0 0 0;
    padding: 15px 0 0 0;
}

#footer, #header
{
    height: 75px;
}

#header
{
    padding: 5px 0px;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}
#header, body
{
    min-width: 500px;
}
#header a
{
    color: #A6E22E;
}
#header .column
{
    align-items: center;
    display: flex;
}
#header h1
{
    font-size: 40px;
}

.container
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 675px;
    width: 80%;
}

.content-item
{
    margin-bottom: 30px;
}
.content-item h1
{
    font-size: 30px;
}
.content-item header h1, .content-item header a
{
    color: #A6E22E;
}
.content-item header h1
{
    font-size: 30px;
}
.content-item p
{
    line-height: 150%;
}
.content-items
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.created
{
    color: #FD971F;
}

.gallery
{
    text-align: center;
}
.gallery-image
{
    margin: 0 5px 0 5px;
    max-width: 325px;
    width: 100%;
}

.icon
{
    width: 35px;
}
.icon-primary-fill
{
    fill: #66D9EF;
}
.icon:hover .icon-primary-fill
{
    fill: #F92672;
}
.icon-primary-stroke
{
    stroke: #66D9EF;
}
.icon:hover .icon-primary-stroke
{
    stroke: #F92672;
}
.icon-secondary-fill
{
    fill: #171714;
}
.icon-secondary-stroke
{
    stroke: #171714;
}

.menu
{
    display: flex;
    list-style: none;
    margin: 0px;
}
.menu li a 
{
    margin-left: 20px;
}

.pager
{
    font-weight: bold;
    line-height: 25px;
    list-style: none;
    text-align: right;
}
.pager li
{
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    width: 45px;
}
.pager a
{
    font-size: 40px;
}